<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289817032686-7bnej8627d58qs5kafa6so05meoi2oht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289817032686-7bnej8627d58qs5kafa6so05meoi2oht</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>289817032686-07cc95duthu8ncqr01v1qep7k7vnh3qf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCK4p-3WBYkQnpRf_xk6RBsgu4Xal63_tA</string>
	<key>GCM_SENDER_ID</key>
	<string>289817032686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.app.incasa.projetoIncasaApp</string>
	<key>PROJECT_ID</key>
	<string>incasa-f0d5a</string>
	<key>STORAGE_BUCKET</key>
	<string>incasa-f0d5a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289817032686:ios:f79f9d9849bb717dd1c0ff</string>
</dict>
</plist>